body {
    background-color: #242424;
    margin: 0;
    padding: 0;
  }
  
  #blob {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: linear-gradient(to top right, rgb(234, 234, 234), rgb(230, 211, 184), #e59b56, #e08655);
    animation: blobAnimation 10s ease-in-out infinite, animate 5s ease-in-out infinite;
    z-index: 1;
    box-shadow: 0 0 30px 20px rgba(219, 153, 99, 0.634);
  }

  #image
  {
    height:100%;
    width: 100%;
    z-index: 2;
    opacity: 0.9;
    position: absolute;
    filter: brightness(0.1);
  }
  
  @keyframes animate {
    from { background-position: 0 0; }
    to { background-position: 400px 0px 400px; }
  }
  
  @keyframes blobAnimation {
    0% {
      border-radius: 33% 79% 21% 67%;
    }
  
    15% {
      border-radius: 33% 93% 7% 67%;
    }
  
    30% {
      border-radius: 50% 50% 80% 20% / 33% 32% 68% 67%;
    }
  
    45% {
      border-radius: 50% 50% 85% 15% / 68% 32% 68% 32%;
    }
  
    60% {
      border-radius: 72% 85% 15% / 16% 32% 68% 84%;
    }
  
    75% {
      border-radius: 83% 17% 85% 15% / 40% 32% 68% 60%;
    }
  
    90% {
      border-radius: 83% 17% 9% 91% / 16% 32% 68% 84%;
    }
  
    100% {
      border-radius: 33% 79% 21% 67%;
    }
  }
  